[submodule "IndustryTools/eveapi"]
	path = IndustryTools/eveapi
	url = https://github.com/ntt/eveapi.git
[submodule "KillReporter/stomp.py"]
	path = KillReporter/stomp.py
	url = https://github.com/jasonrbriggs/stomp.py.git
[submodule "KillReporter/eveapi"]
	path = KillReporter/eveapi
	url = https://github.com/ntt/eveapi.git
